/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #3535ec;
}

/* header rules */
.ms_bar_title{
    color: #fff;
    padding: 10px;
    border-bottom: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* main rules */
.container {
    color: #fff;
    width: 80%;
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.cube {
    width: calc(10% - 10px);
    height: auto;
    padding: 1px;
    background-color: #23272a;
    font-size: 0.8rem;
    line-height: 50px;
    text-align: center;
}

.ms_color_fizz {
    background-color: #7b7be1;
}

.ms_color_buzz {
    background-color: #05052f;
}

.ms_color_fizz_buzz {
    background-color: #000000;
}